"use client";

import React from "react";

export function {{pascalCase name}}() {
  return (
    <div className="rounded-md border p-4">
      <span className="font-medium">{{pascalCase name}} Component</span>
    </div>
  );
}

